.vi-home-con{
    width: 1160px;
    padding-top: 20px;
    margin: 0 auto;
}


.videoh-wrapper{
    width: 100%;

}

/* 首先推荐有轮播的推荐 */
.chief-recommend{
    width: 100%;

    height: 242px;
}
/* 轮播 */
.ch-r-lbo{
    width: 440px;
    float: left;

}

/* 轮播旁边的推荐视频 */
.ch-r-vi{
    width: 720px;
    float: left;
    height: 220px;
}

/* 标签推荐 */
.label-recommend{
    width: 100%;
    color:black;
    height: 500px;
}

/* 视频 */
.vh-label-video{
    width: 1080px;
}

