.related-rec-moudle .rec-title{
    font-size: 16px;
    color: #222;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 6px;
}

.related-rec-moudle .rec-list .video-page-card{
    padding: 6px 0;
}

/* #related-rec .card-box{
    display: -ms-flexbox;
    display: flex;
} */

#related-rec .pic-box{
    position: relative;
    float: left;
    width: 160px;
    height: 100px;
    border-radius: 2px;
    background: #f4f5f7;
}

#related-rec .duration{
    opacity: 0;
    position: absolute;
    bottom: 2px;
    left: 6px;
    color: #fff;
    height: 12px;
    line-height: 12px;
    padding: 0 5px 1px 0;
    transition: all .3s;
}
#related-rec .mask-video{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    transition: opacity .3s;
}
#related-rec .pic-box:hover .duration,#related-rec .pic-box:hover .mask-video{
    opacity: 1;
}

#related-rec .info{
    margin-left: 10px;
    font-size: 12px;
    float: left;
    width: 160px;
}

#related-rec .title{
    height: 36px;
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

#related-rec .info a{
    color: #222;
}
#related-rec .info a:hover{
    color: rgb(88, 90, 214);
}

#related-rec .up{
    width: 160px;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#related-rec .up a{
    color: #999;
}

#related-rec .count{
    display: inline-block;
    height: 16px;
    width: 100%;
    color: #999;
    font-size: 12px;
}

