

/* 图片 */
.img-li{
    float: left;
    position: relative;
    padding: 3px 2.5px;
}
.fun-img{
    color: rgb(155, 148, 148);
}
.fun-img img{
    display: block;
    width: 188px;
    height: 116px;
    border-radius:10px;
    
}
.fun-img:hover{
    color: rgb(209, 114, 6);
}
.img-li .num{
    position: absolute;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    top:95px;
    right: 7px;
    color: white;
    display: none;
}
.img-ti{
    font-size: 14px;
    display: block;
    padding: 2.5px 0;
}

/* 图片信息，点赞图片 */

.img-li .good{
    float: right;
    line-height: 20px;
    font-size: 13px;
    color: #6b6b68;
}
.img-li  .dianzan-icon{
    float: left;
    width: 19px;
    height: 20px;
    background-image: url("../../static/imgdianz.jpg")
}

.fun-img:hover{
    color:rgb(206, 95, 21);
}
.fun-img:hover .num{
    display: block;
}
