#login-app{
    width: 100%;

}

.login-area{
    width: 1200px;
    height: 500px;
    margin: 0 auto;

}

.tit-line{
    text-align: center;
    width: 900px;
    height: 32px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(148, 128, 128);
}
.tit-line h1{
    height: 40px;
    width: 80px;
    margin: 0 auto;
    background-color: white;
}

.login-input-area{
    width: 300px;
    margin: 50px auto 0 auto;

}

#components-form-normal-login{
    max-width: 300px;
}
#components-form-normal-login .login-form-forgot {
    float: right;
}
#components-form-normal-login .login-form-button {
    display: block;
    width: 100%;
}

.error-text{
    margin: 6px 0;
    font-size: 12px;
    height: 20px;
    line-height: 20px;

}

.btn{
    display: inline-block;
    height: 36px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}